////////////////////////////
// COLORS
////////////////////////////
$primary-color: #FB177D !important;
$theme-colors: ( "primary": $primary-color, );
$theme-colors: ( "custom-color": #900);
////////////////////////////
// END COLORS
////////////////////////////